<!DOCTYPE HTML>
<html>
  <body>
    <script src="https://static.opentok.com/v2/js/opentok.min.js" charset="utf-8"></script>
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<!--[if lte IE 9]>
		<script src="scripts/IE9.js"></script>
		<![endif]-->
	<script type="text/javascript" src="app.js"></script>
	
    <script type='text/javascript'>    
    
    </script>
  </body>
	
	<div style="text-align: center;">
		<h1>Hello, Welcome</h1><br>
				
		<button onclick="getSession()"> Get Session Id </button> <br>
		<button onclick="getToken()"> Get Token Id </button> <br>
		<button onclick="establishConnection()"> Establish Connection </button> <br>
		<button onclick="takePicture()"> Take Picture </button> <br>
		
		<h3>Session Id: </h3><div id="sessionId"></div><br>
		<h3>Token Id: </h3><div id="tokenId"></div><br>
		
		<div id="publisherContainer" style="width:100px height:70px"></div>
		<div id="subscriberContainer" style="width:100px height:70px"></div>
				
			
    </div>
</html>