<html>
<body>
  <button onclick="getSession()"> Get Session Id </button> <br>
  <button onclick="getToken()"> Get Token Id </button> <br>
  <button onclick="initializeScreenSharingSessionForChrome()"> Establish Connection </button> <br>
  
  <button onclick="javascript:screenshare();" disabled id="shareBtn">Share your screen</button>
  <button onclick="stopScreenShare()"> Stop Screen Sharing </button> <br><br>
  
  <div id="camera-publisher"></div>
  <div id="camera-subscriber"></div>
  <div id="screen-subscriber"></div>
  <script src="//static.opentok.com/v2/js/opentok.js"></script>

</body>
</html>
